@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: black;
}

::-webkit-scrollbar {
    display: none;
}

::-webkit-scrollbar-track {
    display: none;
}

html {
    overflow-x: hidden;
}